@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

$breakpoint-mobile-medium: 800px;
$breakpoint-mobile-small: 720px;
$breakpoint-tablet: 1280px;
$breakpoint-desktop: 1480px;

.layout {
  $titleNumberLineRight: 90;
  $titleNumberLineBottom: 20;

  position: relative;
  user-select: none;
  width: 100%;
  height: 100vh;

  background-image: url(/images/backgrounds/intro.png);
  background-attachment: fixed;
  background-size: 300px 300px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;

  /*Developer 제목*/
  .titleFirstLine {
    position: relative;
    margin-top: 50px;
    display: inline-block;
    padding: 0px 100px;

    font-size: 80px;
    font-weight: bolder;
    background-color: #323228;
    background-image: url(/images/pattern/noise.png);
    color: whitesmoke;
    span {
      color: rgb(0, 96, 0);
    }
  }

  @keyframes rotate {
    15% {
      transform: rotate(90deg);
    }
    25% {
      transform: rotate(90deg);
    }

    35% {
      transform: rotate(180deg);
    }
    50% {
      transform: rotate(180deg);
    }

    60% {
      transform: rotate(270deg);
    }
    75% {
      transform: rotate(270deg);
    }

    85% {
      transform: rotate(360deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .titleSecondLine {
    position: relative;
    font-weight: bolder;
    font-size: 33px;
    color: #313131;
    margin-top: 10px;
    padding: 5px;
    width: 750px;
    text-align: center;
    border-top: 7px double #323228;
    border-bottom: 7px double #323228;

    span:hover {
      transition: all 0.3s;
      display: inline;
      box-shadow: inset 0 -10 0 #ffc40076;
    }
  }

  .titleThirdLine {
    position: absolute;
    bottom: 415px;
    font-size: 25px;
    font-weight: bold;
    color: #323228;
  }

  .titleThirdLineDescription {
    position: absolute;
    bottom: 300px;
    text-align: center;
    font-size: 14px;
    line-height: 2;
    color: #323228;

    .yellow {
      color: orange;
      font-weight: bold;
    }
    .green {
      color: rgb(0, 96, 0);
      font-weight: bold;
    }
  }

  .titleFourthLine {
    position: absolute;
    bottom: 220px;
    font-size: 25px;
    font-weight: bold;
    color: #323228;
  }

  .titleFourthLineDescription {
    position: absolute;
    bottom: 140px;
    font-size: 14px;
    line-height: 2;
    color: #323228;
    text-align: center;
  }

  .button {
    position: absolute;
    bottom: 25px;

    text-align: center;
    font-size: 13px;
    font-weight: bold;
    line-height: 2.5;

    border-radius: 50px;
    width: 80px;
    height: 35px;
    border: 2px solid #323228;
    color: #323228;

    cursor: pointer;
    &:hover {
      animation: star 0.5s ease-in-out infinite alternate both;
    }

    @media (max-width: $breakpoint-tablet) {
      bottom: 10px;
      right: 10px;
      width: 40px;
      height: 40px;
      line-height: 4;
      font-size: 10px;
    }
  }

  @keyframes star {
    from {
    }
    to {
      border: 2px solid rgb(0, 96, 0);
    }
  }
}
