@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@400&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

$titleNumberLineRight: 0;
$titleNumberLineBottom: 50;

.layout {
    position: relative;
    user-select: none;
    width: 100%;
    height: 100vh;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);

    background-image: url(/images/backgrounds/intro.png);
    background-attachment: fixed;
    background-size: 300px 300px;
    overflow: hidden;


    .canvas {
        position: absolute;
        width: 100%;
        height: 100%;
    }


    .titleFirstLine{
        position: relative;
        top:80px;
        left:60px;
        display: inline-block;
        padding:0px 10px;

        font-size:80px;
        font-weight: bolder;
        border: 10px solid black;
        color:black;
        background-color: white;
        span{
            color:orange;
        }

        /*React Icon 설정*/
        .titleReactIcon{
            position: absolute;
            left:-60px;
            top:-80px;

            width: 130px;
            height: 130px;
            z-index: 1;
            img{
                transform-origin: 50% 50%;
                position: absolute;
                width: 100%;
                height: 100%;
                scale: 1.6;
                animation: rotate 12s ease-in 3s infinite normal both;
            }
        }
    }

    @keyframes rotate {
        15%{transform: rotate(90deg);}
        25%{transform: rotate(90deg);}

        35%{transform: rotate(180deg);}
        50%{transform: rotate(180deg);}

        60%{transform: rotate(270deg);}
        75%{transform: rotate(270deg);}

        85%{transform: rotate(360deg);}
        100%{transform: rotate(360deg);}
    }


    .titleSecondLine{
        position: relative;
        top:80px;
        left: 280px;
        font-weight: bold;
        font-size:30px;
        color:black;

        span:hover{
            transition: all 0.3s;
            display: inline;
            box-shadow: inset 0 -10 0 #ffc40076;
        }
    }


    .titleThirdLine{
        position: absolute;
        bottom:($titleNumberLineBottom+280+px);
        right:($titleNumberLineRight+180+px);

        font-size:25px;
        font-weight: bold;
        color: rgb(0, 0, 0);
    }


    .titleThirdLineDescription{
        position: absolute;
        bottom:($titleNumberLineBottom+200+px);
        right:($titleNumberLineRight+180+px);

        font-size:15px;
        line-height: 1.7;
        color: rgb(0, 0, 0);
        font-weight: bold;

        .yellow{
            color:orange;
            font-weight: bold;
        }
        .green{
            color:green;
            font-weight: bold;
        }
    }


    .titleFourthLine{
        position: absolute;
        bottom:($titleNumberLineBottom+120+px);
        right:($titleNumberLineRight+130+px);

        font-size:25px;
        font-weight: bold;
        color: rgb(0, 0, 0);
        
    }

    .titleFourthLineDescription{
        position: absolute;
        bottom:($titleNumberLineBottom+10+px);
        right:($titleNumberLineRight+90+px);
        font-size:15px;
        line-height: 1.7;
        color: black;
        font-weight: bold;
    }

    .button{
        position: absolute;
        bottom: 25px;
        right: 25px;

        text-align: center;
        font-size:12px;
        line-height:4;

        border-radius: 50%;
        width: 50px;
        height: 50px;
        border: 2px solid gray;
        color: black;

        cursor: pointer;
        &:hover{
            animation: star 0.5s ease-in-out infinite alternate both;
        }
    }


    @keyframes star {
        from{}
        to{
            border: 2px solid #FFFCE1;
        }
        
    }
}
